<%= render partial: '/layouts/errors', locals: {object: @demo_report} %>

<h1> <%=@demo_report.bike.name %> Demo Report</h1>
<p>Location: <%=@demo_report.location %></p>
<p>Report: <%=@demo_report.report %></p>
<p>User: <%=@demo_report.user.name %></p>

