<h1>Welcome, <%=@user.name%>!</h1>

<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<h3>Your Demo Reports:</h3>
<% @user.demo_reports.each do |d| %>
    <p>Bike: <%=d.bike.name %></p>
    <p>Report: <%= d.report %></p>
    <%= button_to "Edit Report", edit_demo_report_path(d.id), method: :get %> 
    <%= button_to "Delete Report", demo_report_path(d.id), method: :delete %>
<% end %>