<h1>Add A Bike</h1>

<%= form_for @bike do |f| %>
  <p><%=f.label :name %>
    <%=f.text_field :name %></p>
    
    <p><%=f.label :category %>
    <%=f.text_field :category %></p>
    
    <p>Select Dealer</p>
    <p><%= f.collection_select :dealer_id, Dealer.all, :id, :name, :prompt => true %>

    <p>Add Dealer</p>
    <p>
        <%= f.fields_for :dealer do |dealer| %>
            <%= dealer.label :name %>
            <%= dealer.text_field :name %>
        <% end %>
    </p>
    <%=f.submit "Add Bike" %>

<% end %>