<h1>Add A Bike</h1>

<%= render partial: '/layouts/errors', locals: {object: @bike} %>

<%= form_for @bike do |f| %>
  <p><%=f.label :name %>
    <%=f.text_field :name %></p>
    
    <p><%=f.label :category %>
    <%=f.text_field :category %></p>
    
  <p> Select a Dealer: </p>
  <div>
    <%= f.collection_select(:dealer_id, Dealer.all, :id, :name, include_blank: 'Select Dealer')%>

  </div>

  <p> Or create a new Dealer: </p>
  <div>
    <%=f.fields_for :dealer do |b| %>
      <%= b.label :name %>
      <%= b.text_field :name %>
    <% end %>
  </div>
  <br>
  <%= f.submit %>
<% end %>