<h1>Add A Bike</h1>

<%= render partial: '/layouts/errors', locals: {object: @bike} %>

<%= form_for @bike do |f| %>
  <%=f.label :name %>
  <%=f.text_field :name %>
    
  <%=f.label :category %>
  <%=f.text_field :category %>
    
  <h3>Select a Dealer: </h3>
  <div>
    <%= f.collection_select :dealer_id, Dealer.all, :id, :name, include_blank: 'Select Dealer'%>

  </div>

  <h4>Or create a new Dealer: </h4>
  <div>
    <%=f.fields_for :dealer do |b| %>
      <%= b.label :name %>
      <%= b.text_field :name %>
    <% end %>
  </div>
  <br>
  <div class="actions"><%= f.submit "Create Bike", :class => "submit" %></div>
<% end %>