<nav> 
    <%= link_to 'Home', user_path(current_user), class:'button' %>
    <%= link_to 'Add Bike', new_bike_path, class:'button'  %>
    <%= link_to 'Bikes', bikes_path, class:'button'  %>
    <%= link_to 'Demo Reports', demo_reports_path, class:'button'  %>
    <%= link_to 'Dealers', dealers_path, class:'button'  %>
    <%= link_to 'Logout', '/logout', method: :delete, class:'button'%>
</nav>