<nav> 
    <%= link_to 'Add Bike', new_bike_path %>
    <%= link_to 'My Bikes', bikes_path %>
    <%= link_to 'My Demo Reports', demo_reports_path %>
    <%= link_to 'Dealers', dealers_path %>
    <%= link_to 'Logout', '/logout', method: :delete, class:'button'%>
</nav>