<!DOCTYPE html>
<html>
  <head>
    <title>DemoDaze</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav>
      <%= link_to 'Logout', '/logout', method: :delete, class:'button'%>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
