<!DOCTYPE html>
<html>
  <head>
    <title>DemoDaze</title>
    <link rel="shortcut icon" href="http://www.example.com/myicon.ico"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class='navbar'><%= nav_bar %></nav>
  </head>
  <body>
    <div class="container text-center"">
      <%= yield %>
    </div>
  </body>
</html>
